h1, h2, h5 {
  font-weight: 700;
  color: #343a40;
}

#root { 
  display:flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Estilo para la barra de búsqueda en el centro del navbar */
.search-bar {
  width: 25%;
}
.search-bar .form-control {
  border-radius: 20px;
  padding: 10px 20px;
}
.search-bar .btn {
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
}