/* Estilos para el carrusel de comidas */
.carousel-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; 
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid transparent; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.carousel-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ff4b2b; 
}

/* Estilo para las promociones */
.promo-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; 
  border-radius: 12px;
  border: 1px solid transparent; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.promo-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ff4b2b; 
}

/* Espacio para los botones */
.promo-card .btn-danger {
  margin-bottom: 10px; 
}

/* Aseguramos que las imágenes de las promociones tengan un tamaño consistente */
.promo-img-container img,
.promo-card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

/* Flechas del carrusel ajuste y diseño */
.react-multiple-carousel__arrow--left {
  left: 30px;
}
.react-multiple-carousel__arrow--right {
  right: 30px;
}

.react-multiple-carousel__arrow {
  background: rgba(255, 65, 108, 0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(255, 65, 108, 1);
  transform: scale(1.1);
}

/* Efecto de opiniones */

.review-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; 
  border-radius: 12px;
  padding: 1.5rem;
  border: 1px solid transparent; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.review-card p {
  font-style: italic;
  color: #555;
}

.review-card:hover{
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ff4b2b; 
}